{% extends 'Admin/index.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidate List</title>
</head>
<body>
<h3 align="center">
    Candidate List
  </h3>
    <table align="center" width="700" border="1">

  <tr>
    <th width="125" scope="col">&nbsp; Candidate Id</th>
    <th width="173" scope="col">&nbsp; Candidate Name</th>
    <th width="190" scope="col">&nbsp;Post Name</th>
      <th width="190"> Department</th>
  </tr>
        {% for i in data %}
  <tr>

    <td> {{ i['Candidate_id'] }}</td>
    <td>&nbsp;{{ i['s_name'] }}</td>
      <td>{{ i['Post_name'] }}</td>
     <td> {{ i['Dept_name'] }}</td>

  </tr>
        {% endfor %}
</table>

</body>
</html>

{% endblock %}