{% extends 'Admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<body>
<form action="" method="get">
<h3 align="center">Nomination Approval</h3>
<table width="750" border="1" class="table table-hover">
  <tr>
      <td width="50">S.No</td>
    <td width="126">Reg_no</td>
    <td width="107">Candidate_Name</td>
    <td width="141">Post_name</td>
    <td width="146">Suspension_Status</td>
     <td width="145">Approval</td>
  </tr>
  {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['Reg_no'] }}</td>
    <td>{{ i['s_name']  }}</td>
    <td> {{ i['Post_name'] }}&nbsp;</td>
    <td>&nbsp;{{ i['Suspension_status'] }}</td>
      {% if i['Approval_status']== 'Pending' %}
      <td><a href="/approve_nomination/{{ i['Candidate_id']}}" class="btn btn-primary">Approve</a><br />
          {% else %}
      <td> {{ i['Approval_status']}}</td>
      {% endif %}
          <!--<a href="">Reject</a>-->
      </td>
  </tr>
    {% endfor %}

</table>

</form>
</body>
</html>
{% endblock %}
